@{
    ViewData["Title"] = "Login Page";
}

<form action="/Login/Verify" method="POST">
    <div style="margin-bottom: 10px;">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div style="margin-bottom: 10px;">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>

    <button type="submit">Login</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div>
        <p style="color: red;">@ViewBag.ErrorMessage</p>
    </div>
}